# this should live in ~/.gitconfig

[credential]
	helper = osxkeychain
[user]
	name = YOUR_NAME
	email = YOUR_EMAIL
[url "https://github"]
	insteadOf = git://github
[color]
        diff = auto
        status = auto
        branch = auto
        ui = true
[core]
        excludesfile = ~/.gitignore
        editor = /Applications/Emacs.app/Contents/MacOS/Emacs
	pager = diff-so-fancy | less --tabs=4 -RFX
[help]
        autocorrect = 1
[push]
        # See `git help config` (search for push.default)
        # for more information on different options of the below setting.
        #
        # Setting to git 2.0 default to suppress warning message
        default = simple
[color "diff"]
       meta = "yellow bold"
       commit = "green bold"
       frag = "magenta bold"
       old = "red bold"
       new = "green bold"
       whitespace = "red reverse"
[color "diff-highlight"]
       oldNormal = "red bold"
       oldHighlight = "red bold 52"
       newNormal = "green bold"
       newHighlight = "green bold 22"